@use "../abstracts" as *;

.intro {
  @include flex-center;
  position: fixed;
  inset: 0;
  z-index: var(--z-index-intro);
  background-color: var(--color-white);

  &__text {
    overflow: hidden;
    position: relative;
    height: 1em;
    font-size: fluid(48, 80);
    text-align: center;

    @include mobile {
      font-size: 6vw;
    }
  }

  &__progress {
    overflow: hidden;
    position: absolute;
    right: var(--gutter);
    bottom: var(--gutter);
    font-size: fluid(64, 96);

    @include mobile {
      font-size: 8vw;
    }
  }
}

.inner {
  width: 100%;
  padding: 0 var(--gutter);
}

.grid-inner {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  gap: var(--grid-gap);
  padding: 0 var(--gutter);
}

.layout {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100dvh;

  &::before {
    content: '';
    opacity: .4;
    position: fixed;
    inset: 0;
    z-index: var(--z-index-noise);
    background: url(/images/noise.png);
    pointer-events: none;
  }
}

.main {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100dvh;
  border-radius: var(--radius);
  will-change: opacity, transform;
}

.container {
  width: 100%;
  height: auto;
}

.bg-video {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}