// Breakpoints
$viewport-desktop: 1440px;
$viewport-tablet: 1024px;
$viewport-mobile: 768px;

// Fluid
$fluid-min-vw: 768;
$fluid-max-vw: 1920;

// Colors
$color-primary: #78ff91;
$color-black: #282828;
$color-white: #f0f4f1;
$color-gray: #adb3ae;