@use "../abstracts" as *;

::selection {
  background-color: rgba($color-primary, .7);
  color: var(--color-black);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  height: 100%;
}

html { 
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  font-family: var(--font-en);
  font-size: fluid(12, 20);
  letter-spacing: var(--letter-spacing);
  color: var(--color-black);
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

button, input, select, textarea {
  margin: 0;
  padding: 0;
  border-radius: 0;
  font: inherit;
  color: inherit;
  vertical-align: middle;
}

button {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: none;
}